.container {
  width: 1320px;
  height: 1800px;
  font-family: Roboto;
  display:flex;
  margin: 0 auto;
  gap: 32px;
}

.left {
  flex: 1;
}

.block7 {
  background-color: #F5F7FA;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  border-radius: 10px;
  display: flex;
  width: 648px;
  height: 123px;
}

.block8 {
  width: 648px;
  height: 144px;
  background-color: #F5F7FA;
  border-radius: 10px;
  font-family: roboto;
  font-size: 16px;
}

.remove {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #696969;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  font-family: roboto;
  font-size: 16px;
  margin-left: 28px;
}

.linkItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.linkItem {
  display: flex;
  margin-top: 12px;
  padding-bottom: 12px;
  width: 592px;
  align-items: center;
  gap: 8px;
  border-bottom: 2px solid #0056B3;
}

.linkInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;

  font-size: 16px;
}

.addLink {
  background: none;
  border: none;
  color: #0056B3;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  padding-bottom: 16px;
}

.statisticItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.saveButton {
  background-color: #0056B3;
  border: 1px solid #0056B3;
  border-radius: 5px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;  
  width: 345px;
  height: 44px;
}

.btn {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.btnSave {
  margin-top: 28px;
  margin-left: 487.5px;
  width: 345px;
}

.progressBar {
  width: 848px;
  height: 8px;
  background: #e0e7f5;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
  margin-left: 12px
}

.AboutMe{
  background: #e9edf3;
  width: 872px;
  height: 152px;
  border: none;
  border-radius: 12px;
  padding-top: 2px;
  font-size: 14px;
  font-family: Roboto;
}

.statisticLabel {
  font-family: Roboto;
  font-size: 16px;
}

.statisticValue {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: #0056B3;
  margin: 0;
}

.statisticItem {
  width: 152px;
  height: 91px;
  background: white;
  border-radius: 10px;
  margin-left: 16px;
  margin-right: 16px;
}











.right {
  flex: 1; 
  border-color: #E7F0FE;
  border-radius: 10px;
  background-color: #E7F0FE;
  width: 391px;
  height: 382px;
  margin-top: 94px;
}

.tipsTitle {
    font-size: 20px;
    margin: 0;
    padding-left: 16px;
    margin-top: 12px;
    
}

.tip {
    font-size: 16px;
    margin: 0;
    padding-top: 16px;
    padding-left: 16px;
}

.p1 {
    font-size: 16px;
    margin: 0;
    margin-left: 16px;
}

.h4 {
    font-size: 16px; 
    color: #0056B3;   
    margin: 0;
    margin-left: 16px;
}

.List {
    margin: 0;
    margin-left: 16px;
    padding-left: 0;
}
