.container {
    width: 100%;
    max-width: 1836px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.time {
    width: 294px;
    height: 39px;
    font-size: 20px;
    font-family: Roboto;
    color: #0056B3;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #E7F0FE;
    gap: 8px;
}   

.Icon {
    width: 20px;
    height: 20px;
}

.text {
    font-size: 24px;
}

.h1 {
    font-size: 32px;
}